:root {
  --color-primary: rgb(111, 111, 150);
  --color-white: whitesmoke;
}

.App {
  text-align: center;
  min-height: calc(98vh);
  background-color: rgb(248, 239, 239);
}

header {
  background: var(--color-primary);
  color: var(--color-white);
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

.user-input-form{
  color: var(--color-primary);
  font-weight: bold;
  margin: 2em auto;
  width: 80%;
  border: blue solid;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.form-input {
 padding: .75em 2em;
 border-radius: 3em;
 border: var(--color-primary) solid 1px;
 background-color: var(--color-white);
 color: var(--color-primary);
}

.rowsList {
  list-style-type: none;
  padding: 0;
  border: blue solid;
}

.row {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  border-radius: 5px;
  justify-content: center;
  gap: .5em;
  margin-bottom: .5em;
  padding: .2em;
}

.numberItemList {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

footer {
  position: sticky;
  top: 100%;
  margin-top: 2em;
  font-size: .9em;
  text-align: center;
  height: 3.5em;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: underline dotted;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline solid;
  cursor: pointer;
  color: var(--color-white)
}
