.App {
  text-align: center;
}

.numberList {
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  border: solid rgb(226, 164, 226);
  border-radius: 5px;
  justify-content: center;
  gap: .5em;
  margin-bottom: .5em;
  padding: .2em;
}

.numberItemList {
  background: rgb(119, 119, 158);
  color:rgb(243, 239, 234);
  font-weight: bold;
  border-radius: 50%;
  width: 3em;
  height: 3em;

}

footer {
  margin-top: 2em;
  font-size: .9em;
  text-align: center;
  height: 3.5em;
  background-color: rgb(119, 119, 158);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: underline dotted;
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline solid;
  color: var(--color-white);
  cursor: pointer;
  color: rgb(243, 239, 234);
}
